:root
{
    --black: #000000;
    --orange: #ff8a00;
    --purple: #984a8aff;
    --gray: #e2e2e2;
    --white-orange: #FFE6C9;
    --white-green: rgba(63, 198, 110, 0.1);
    --white-gray: #d9d9d9ff;
}

html, body
{
    font-family: "Mulish", serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    scroll-behavior: smooth;
}

.color 
{
    color: var(--purple);
    font-weight: 800;
}

*
{
    box-sizing: border-box;
}

h1, h2, h3, h4, p
{
    margin: 0;
    padding: 0;
}

h3 
{
    text-align: left;
    line-height: 110%;
    font-weight: 600;
    font-size: 22.9px;
    margin-bottom: 15px;
}

h2
{
    text-align: left;
    font-weight: 400;
    font-size: 43px;
    line-height: 110%;
    margin-bottom: 25px;
    color: var(--purple);
}

h1
{
    color: var(--black);
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    line-height: 200%;
    margin-bottom: 20px;
}

p
{
    font-size: 20px;
}

section {
    scroll-margin-top: 50px;
}

.container
{
    max-width: 1237px;
    margin: 0px auto;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: var(--purple);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.header-content
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.name
{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;

    transition: all .4s ease;
}

.name:hover
{
    transform: scale(1.1);
}

.header-content_last
{
    align-items: center;
    display: flex;
}

.header-content_last img
{
    margin-top: 10px;
    margin-right: 25px;
    transition: all .4s ease;
}

.header-content_last img:hover
{
    transform: scale(1.1);
}

nav a
{
    text-decoration: none;
    margin-right: 45px;
    color: white;
    display: inline-block;

    transition: all .4s ease;
}

nav a:hover
{
    transform: scale(1.05);
}

nav a:last-of-type
{
    margin-right: 0px;
}
/* END OF HEADER */

/* MAIN */

main
{
    margin-top: 160px;
}

.main-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.main-content h1
{
    text-align: left;
    line-height: 110%;
}

.main-content p
{
    line-height: 200%;
    margin-bottom: 40px;
    color: var(--black);
}

.main-content_buttons a
{
    padding: 17px 55px;
    background-color: #984a8aff;
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    display: inline-block;

    transition: all .4s ease;
}

.main-content_buttons a:hover
{
    background-color: var(--gray);
    border: 2px solid var(--purple);
    color: #984a8aff;
}

.main-content img
{
    max-width: 500px;
}
/* END OF MAIN */

/* OPTIONS */
.menu-buttons
{
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.menu-buttons a
{
    margin-right: 50px;
    background-color: var(--white-gray);
    color: var(--black);
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;

    transition: all .4s ease;
}

.menu-buttons a:hover
{
    background-color: var(--gray);
    border: 2px solid var(--purple);
    color: #984a8aff;
}

.menu-buttons a.active:hover
{
    background-color: var(--gray);
    border: 2px solid var(--purple);
    color: #984a8aff; 
}

.menu-buttons a.active {
    background-color: var(--purple);
    color: #FFF;
}

.options_items.active {
    display: block;
}

.options_items.active
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 88px;
}

.options_items
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 88px;
}

.options_items {
    display: none;
}

.options_item
{
    width: 32%;
    background-color: var(--white-gray);
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.options_item p
{
    text-align: left;
}
/* END OF OPTOINS */

/* WORKS */

.works_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.works_item
{
    width: 32%;
    background-color: var(--white-gray);
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/* .works_item h2
{
    text-align: left;
    font-weight: 400;
    font-size: 43px;
    line-height: 110%;
    margin-bottom: 25px;
    color: var(--purple);
} */

.works_item p
{
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
}

/* END OF WORKS */

/* EDUCATION */

.education_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.education_item
{
    width: 32%;
    background-color: var(--white-gray);
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
}

/* .education_item h2
{
    text-align: left;
    font-weight: 400;
    font-size: 43px;
    line-height: 110%;
    margin-bottom: 25px;
    color: var(--purple);
} */

.education_item p
{
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
}

/* END OF EDUCATION */

/* DEALS */
.deals
{
    text-align: center;
}

.deals_items
{
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.deals_item
{
    width: 32%;
    background-color: var(--white-gray);
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    margin-right: 15px;
}

.deals_item p
{
    margin-top: 30px;
}

.deals_item-last
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deals_item-last p
{
    /* color: var(--purple); */
    font-weight: 300;
}

.deals_item-last h2
{
    /* font-weight: 400; */
    margin-top: 50px;
}

.order_button a
{
    padding: 17px 55px;
    background-color: #984a8aff;
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 270px;

    transition: all .4s ease;
}

.order_button a:hover
{
    background-color: var(--gray);
    border: 2px solid var(--purple);
    color: #984a8aff;
}
/* END OF DEALS */

/* MAPS */
.maps
{
    text-align: center;
}

.maps_items
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 90px;
    
}

.format_item
{
    display: flex;
    width: 32%;
    background-color: var(--white-gray);
    border-radius: 30px;
    padding: 10px 25px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.maps_item
{
    width: 48.5%;
    margin-right: 15px;
}

.maps_item iframe
{
    border-radius: 30px;
}

/* END OF MAPS */

/* FOOTER */
#footer {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 50px;
    /* z-index: 1000; */
    background-color: var(--purple);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.footer-content
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-content p
{
    font-size: 25px;
    margin-top: 8px;
}

.footer-content a
{
    margin-top: 12px;
    margin-left: 20px;

    transition: all .4s ease;
}

.footer-content a:hover
{
    transform: scale(1.1);
}
/* END OF FOOTER */